<div class="card mb-3 shadow p-3 mb-5 bg-body-tertiary rounded" style="width: 18rem;" [ngClass]="{'fontColor': !todo.active}">
  <div class="card-body" [ngClass]="{'backGround': !todo.active}">
    <h5 class="card-title" [ngClass]="{'strike': !todo.active}">{{todo.title}}</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
    <p class="card-text">{{todo.description}}</p>
    <p class="card-text">{{todo.created_at}}</p>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="todo{{i+1}}" (click)="onCheckboxClick(todo)">
      <label class="form-check-label" for="todo{{i+1}}">Mark as completed</label>
    </div>
    <hr>
    <button type="button" class="btn btn-sm btn-success me-5" (click)="onClickEdit()">EDIT</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="onClick(todo)">DELETE</button>
  </div>
</div>
